/* Color for design
#1E1E1E - dark
#666666 - transporate
#D2D2D2 - white (fonts)
#BADA55 - green (contrast)*/

header nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.2em;
  padding: 15px 0px;
  border-bottom: 2px solid #666666;
}
  
header nav a{
  padding: 10px;
}

header nav a:hover {
  color: #BADA55;
  border-bottom: 2px solid #BADA55;
}
  