/* Color for design
#1E1E1E - dark
#666666 - transporate
#D2D2D2 - white (fonts)
#BADA55 - green (contrast)*/
h1 {margin: 20px 0px;}
h4 {color: #BADA55; margin: 20px 0px;}
h5 {color: #666666; margin: 20px 0px;}


